@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.SideBar__ {
  visibility: hidden;
  position: fixed;
}

.HTop{
  height: 600px;
  padding-top: 100px;
}
.Skills_ {
  height: 800px;
}
.Contact_ {
  height: 800px;
}
.sidenav {
  visibility: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width: 1280px){
  .HTop {
    height: 800px;
  }
  .DescCard__{
    margin-right: 20px;
    margin-left: 10px;
    padding: 20px;
  }
}

@media (min-width: 1024px){
  .HTop {
    height: 1000px;
  }
  .DescCard__{
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 640px){
  .HTop {
    height: 1000px;
  }
  .DescCard__{
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
  }
}

@media (min-width: 400px){

}
