@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.SideBar__ {
  visibility: hidden;
  position: fixed;
}

.HTop{
  height: 600px;
  padding-top: 100px;
}
.Skills_ {
  height: 800px;
}
.Contact_ {
  height: 800px;
}
.sidenav {
  visibility: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Media size layar dari 321 - 415 */
.TNxss{
  @apply xss:p-5 xss:text-3xl;
}
.TWxss {
  @apply xss:text-lg xss:m-2;
}
.DHxss {
  @apply xss:text-center xss:text-xs;
}

/* Media size layar dari 416 - 640 */

